<mtapp:setting
    id="assetreplacepath_search"
    label="<__trans phrase="Search">">
<ul>
<li><input type="text" class="text" value="<mt:var name="assetreplacepath_search" escape="html">" name="assetreplacepath_search" id="assetreplacepath_search" /></li>
</ul>
</mtapp:setting>
<mtapp:setting
    id="assetreplacepath_replace"
    label="<__trans phrase="Replace">">
<ul>
<li><input type="text" class="text" value="<mt:var name="assetreplacepath_replace" escape="html">" name="assetreplacepath_replace" id="assetreplacepath_replace" /></li>
</ul>
</mtapp:setting>